
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(254,255,255);
    background: linear-gradient(176deg, rgba(254,255,255,0.3757878151260504) 0%, rgba(213,213,213,0.25253851540616246) 90%);
    color: hwb(0 1% 96%);
    font-family: 'Raleway', sans-serif;
    margin-bottom: black;
}

.avatar {
    width: 100px;
    border-radius: 50px;
    border: 1px solid rgba(27, 23, 23, 0.062);
    box-shadow: 0 0 20px rgb(58, 54, 54);
}

.social {
    display: flex;
    margin: 20px 0;
    list-style: none;
    justify-content: space-around;
}

.social img {
    width: 33px;
    
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background: rgb(247, 247, 247);
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links-list li a span {
    color: rgb(99, 96, 96);
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.links-list li a.active {
    box-shadow: 0 0 20px;
    color: rgb(50, 50, 182);
}

.links-list.second {
    margin-top: 30px;
}

.links-list li a  {
    box-shadow: 0 0 20px;
    color: rgb(7, 7, 8);
}

.footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px 0;
    font-size: 10px;
}